# Save this file as /etc/systemd/system/sbus_daemon.service

[Unit]
Description=SBUS Daemon
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/Daemons/SBUS_daemon.py  # ~/Daemons/SBUS_daemon.py
WorkingDirectory=/home/pi/Daemons
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
